@charset "utf-8";

/* Style Sheet for ePub Books */
/* Set margins at 2% (This gives a white border around the book.)
   Always use Serif as default for whole book. Override to San Serif
   and Monospace by embedding in each XHTML <body> section. */
body {
  font-family: Times, serif;
  font-size: 100%;
  padding: 0;
  margin: 2%;
}

body.fullpage {
  margin: 0;
}

/* Here we use a Serif font family. */
.serif {
  font-family: Times, serif;
}

/* Here we use a Sans Serif font family. */
.sans {
  font-family: Helvetica, sans-serif;
  font-size: 90%;
}

/* Here we use a Monospace font family and make the text 80% of the normal body text. */
.mono {
  font-family: Courier, monospace;
  font-size: 80%;
}

/* Used for cover image section for EPUB3 */
section#cover,
figure,
figcaption {
  text-align: center;
  padding: 0;
  margin: 0.5em 0;
  width: 100%;
  height: auto;
}

/* Default style for a heading 1. */
h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 1.0em 0;
}

/* Default style for a heading 2. */
h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0.83em 0;
}

/* Default style for a heading 3. */
h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
}

/* Default style for a heading 4. */
h4 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin: 1.33em 0;
}

h1.chapter,
h2.chapter,
h3.chapter {
  margin-top: 3em;
  margin-bottom: 1em;
}

/* Text inside a grey box - used to indicate a note, etc. */
div.note {
  background-color: #F0F0F0;
  border: 1px solid black;
  margin: 0.5em;
  padding: 0.5em;
  text-indent: 0;
  text-align: left;
  font-size: 0.9em;
}

div.note p {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-indent: 0;
  text-align: left;
}

div.note p.right {
  text-align: right;
}

div.note p.center {
  text-align: center;
}

/* Default style for a paragraph.
   The font is specified in the body selector.
   The [text-indent] will make a paragraph indent, like putting a tab at the beginning of each new paragraph.
   The [text-align] setting justifies the margins. If you don't want them justified, change it to left, or remove that line.
   The [margin] setting gets rid of the white space between paragraphs, again so it looks more like a book.
   The [padding] setting gets rid of the white space around paragraphs, again so it looks more like a book. */
p {
  /* text-indent: 1em; */
  text-indent: 4%;
  text-align: justify;
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

/* The first paragraph of a chapter.
     The [text-indent] removes the paragraph indent.
     The [margin-top] adds a bit of space before the paragraph. */
p.first {
  text-indent: 0;
  margin: 0.75em inherit inherit inherit;
}

/* For the rare cases where we don't need to indent the paragraph */
p.noindent {
  text-indent: 0;
}

/* For the rare cases where we need to indent the paragraph by 1 */
p.indent1 {
  text-indent: 4%;
}

/* For the rare cases where we need to indent the paragraph by 2 */
p.indent2 {
  text-indent: 8%;
}

/* For the rare cases where we need to left align the paragraph */
p.left {
  text-indent: 0;
  text-align: left;
}

/* For the rare cases where we need to right align the paragraph */
p.right {
  text-indent: 0;
  text-align: right;
}

/* For the rare cases where we need to center the paragraph */
p.center {
  text-indent: 0;
  text-align: center;
}

/* Used for dinkus in between logical sections of a chapter
  margin: 0.75em;
  padding: 0.5em;
*/
p.dinkus {
  margin: 1em, 0;
  line-height: 2.0;
  text-indent: 0;
  text-align: center;
}

/* Used for paragraphs with songs, poems, etc. Centered. Italicized. With margins on top and bottom. */
p.song {
  font-style: italic;
  text-align: center;
  text-indent: 0;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

p.title {
  text-indent: 0;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  margin-top: 3em;
}

p.subtitle {
  text-indent: 0;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1em;
}

p.series {
  text-indent: 0;
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin-top: 1em;
}

p.author {
  text-indent: 0;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 0;
}

p.publisher {
  text-indent: 0;
  text-align: center;
  margin-top: 3em;
}

/* Used for the dedication paragrapgh in a Dedication section */
p.dedication {
  text-indent: 0;
  text-align: center;
  font-size: larger;
  font-style: italic;
  margin-top: 3em;
}

/* Here we make copyright text 80% of the normal body text (centered). */
p.copy {
  text-indent: 0;
  text-align: center;
  font-size: smaller;
}

/* Here we make copyright text 80% of the normal body text (left-aligned). */
p.copy-left {
  text-indent: 0;
  text-align: left;
  font-size: smaller;
}

/* Various font styles and weights */
.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.normal {
  font-style: normal;
  font-weight: normal;
}